{% extends 'admin/master.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Onsale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{% if product.image %}<img src="{{ asset('uploads/category/'~product.image) | imagine_filter('thumb100x80') }}">{% endif %}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.qty }}</td>
                <td>{% if product.onsale %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('product_show', { 'id': product.id }) }}"class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('product_delete', { 'id': product.id }) }}" class="btn btn-danger"><i class="fa fa-close"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
