{% extends 'default/front.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-6 col-xs-12">
            <img class="img-responsive" src="{{ asset('uploads/category/'~product.image) }}">
        </div>
        <div class="col-md-6 col-xs-12">
            <h1 class="page-header">{{ product.title }}</h1>
            <div>SKU: {{ product.sku }}</div>
            {% if product.qty %}
                <div><p class="text-success">IN STOCK</p></div>
            {% else %}
                <div><p class="text-danger">OUT OF STOCK</p></div>
            {% endif %}
            <div>$ {{ product.price }}</div>
            {#{{ add_to_cart_url.getAddToCartUrl(product.id) }}#}
            <form action="" method="get">
                <div class="input-group">
                    <span class="input-group-label">Qty</span>
                    <input class="input-group-field" type="number">
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Add to Cart">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12">{{ product.description }}</div>
    </div>
{% endblock %}
